#container {
  font-size: 16px;
}

#vote {
  align-content: center;
  margin-left: 1rem;
}
button {
  font-weight: 5;
  margin-left: 1rem;
}
#form {
  text-align: center;
  margin-bottom: 2rem;
}
#list {
  margin-top: 1rem;
}
