html,
** {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav_bar {
  text-align: center;
}

.link {
  text-decoration: none;
  padding: 1rem;
  color: rgba(193, 74, 35, 0.787);
  font-weight: 600;
}
table {
  margin-left: auto;
  margin-right: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-bottom: 5rem;
}

td,
th {
  border: 3px solid #cabda1dd;
  padding: 8px;
}

tbody:nth-child(even) {
  background-color: #fbf8f8fe;
}

#logOut {
  color: rgb(234, 33, 63);
  font-weight: 800;
  background-color: white;
  outline: none;
}
button {
  outline: none;
  border-radius: 0.5px;
}
form {
  margin-top: 2rem;
}

#genresList button {
  margin-left: 5px;
  background-color: green;
  color: Yellow;
}
#logout {
  border: none;
  color: red;
  background: BurlyWood;
  font-size: 1rem;
}

#login {
  color: blue;
}
#favour {
  font-weight: 700;
  color: green;
}
#add_genre {
  margin-left: 1rem;
  color: white;
  background-color: black;
}
