h2 {
  color: blue;
  margin-right: 7rem;
}

.error,
.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.error {
  color: red;
}
.success {
  color: green;
}
/* login form   */

.login_form_container {
  width: 30rem;
  height: 20rem;
  background-color: rgb(147, 240, 217);
  text-align: center;
}

.login_form {
  margin-top: 5rem;
  text-align: center;
}

input {
  margin-top: 1rem;
  margin-left: 5px;
}
button {
  padding: 2px 2px 2px 2px;
}
.logInBy {
  display: inline-flex;
}
.logInBy button {
  background-color: rgb(230, 59, 59);
  margin-left: 1rem;
  padding: 2px 2px 2px 2px;
}
/* blog input form */

.blog_list_container {
  padding: 3rem;
  background-color: rgb(99, 230, 201);
  display: block;
}
label {
  margin-right: 1rem;
  margin-left: 1rem;
}

input {
  margin: 10px 10px 10px 10px;
  width: 20rem;
}
.error {
  color: rgb(21, 150, 57);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* .showInfo {
  display: flexbox;
} */

/* table */
.table_wraper {
  width: 500px;
  border: 3px solid black;
  display: flex-wrap;
  display: inline-flex;
  /* flex-direction: row; */
  height: 7rem;
  /* overflow: hidden; will contain if #first is longer than #second */
}
.first {
  display: absolute;
}
.second {
  float: left;
  /* border: 1px solid green; */
}
ul {
  list-style-type: none;
  /* list-style-position: outside; */
}
ul li {
  float: left;
  margin-right: 1rem;
}
.btn_blog {
  position: absolute;
}

.btn_blog button {
  /* float: right; */
  /* margin-top: 3rem; */
  position: relative;
  left: 7px;
  top: 4.5rem;
}
