.link {
  padding-right: 30px;
}
#nav_bar {
  text-align: center;
  border: solid;
  background-color: grey;
  padding: 10px;
  border-width: 1px;
  margin-bottom: 37px;
  border-radius: 5px;
  color: yellow;
}

.notification {
  border: solid;
  background-color: grey;
  padding: 10px;
  border-width: 1px;
  margin-bottom: 30px;
  border-radius: 5px;
  color: yellow;
}

#footer {
  margin-top: 9rem;
}
button {
  margin-top: 1rem;
  margin-left: 1rem;
}
